.globalcockpit .inspectorarea .z-east-header {
	top: 0;
	bottom: auto;
	right: 0;
	left: auto;
	padding: 0;
	z-index: 1;
}

.globalcockpit .inspectorarea .inspectorareacontainer {
	bottom: 0;
	left: 0;
	top: 35px;
	position: absolute;
	width: 100%;
}

.globalcockpit .inspectorarea .inspectorareacontainer > .inspectorheader {
	background-color: #ededee;
	background-image: -moz-linear-gradient(center bottom , rgb(211, 213, 215) 7%, rgb(235, 235, 235) 77%);
	border-bottom: 2px solid #a1a1a1;
	padding: 2px;
}

.globalcockpit .inspectorarea .inspectorareacontainer > .inspectorheader > .subheader {
	font-weight: bold;
}

.globalcockpit .inspectorarea .inspectorareacontainer > .inspectorlistboxcontainer {
	background-color: white;
	height: auto;
	overflow: auto;
}

.globalcockpit .inspectorarea .inspectorareacontainer > .inspectorlistboxcontainer .z-list-cell {
	border-bottom: 1px dotted #cccccc;
}

.globalcockpit .inspectorarea .inspectorareacontainer > .inspectorlistboxcontainer > .itemlistbox > .z-listbox-header {
	border: none;
}

.globalcockpit .inspectorarea .inspectorareacontainer > .inspectorlistboxcontainer > .itemlistbox > .z-listbox-header .z-list-head {
	background-color: #e7e8e9;
}

.globalcockpit .inspectorarea .inspectorareacontainer > .inspectorlistboxcontainer > .itemlistbox > .z-listbox-header .z-list-head > .z-list-header {
	border-right: 1px solid white;	
}
