## This is the header
Errors in Content Monitor
## This is the body
<p>$message<p>

#if ($exception)
<p>The following error was encountered: <b>$exception</b><p>
#end

#if ($stacktrace)
<p>
Stack Trace:<br>
<pre>$stacktrace</pre>
</p>
#end
