## This is the header
Errors in CronJob $cronjob
## This is the body
$message

#if ($exception)
The following error was encountered: $exception
#end

#if ($job)
GlobalLink Job Details:
PK: $job.pk.longValueAsString
ID: $job.id
Name: $job.name
Project: $job.project
Status: $job.status
Source Language: $job.sourceLanguage.name
Target Languages:
#foreach ($language in $job.targetLanguages)
$language.name
#end

Submission Tickets:
#foreach ($ticket in $job.submissionTickets)
${velocityCount}. ${ticket.ticket}
#end

#end

#if ($stacktrace)
Stack Trace:
$stacktrace
#end
